*{
  font-family: 'Playfair Display', serif;
}

.hoverable:hover {
  color: #0a72ab;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Cor preta personalizada */
.navbar.bg-dark {
  background-color: #000000 !important;
}
.footer.bg-dark {
  background-color: #000000 !important;
}

.font-bold {
  font-weight: bold !important;
}

.content {
  flex-grow: 1;
}

.test{
  background-color: rgb(140, 140, 140);
  height: 300px;
  height: 300px;
}

.linha {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

.curtido {
  display: flex;
  align-items: center; /* Centralizar texto */
}