*{
  font-family: 'Playfair Display', serif;
}

.hoverable:hover {
  color: #0a72ab;
}

.container2 {
  width: 75em;
  background-color: black;
  padding: 2em 4.75em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 2.7em;
  box-shadow: 0 1em 4em rgba(212, 234, 255, 0.2);
  margin-top: 3em;
}

h2 {
  text-align: left;
  color: white;
  font-size: 40px;
  margin-bottom: 30px;
}

input,
#submit {
  border: none;
  outline: none;
  display: block;
}

#nome {
  width: 50%;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 2em;
  font-size: 20px;
  padding: 1em 0 0.5em 0.5em;
  border-radius: 0.7em;
}

#email {
  background-color: white;
  margin-bottom: 2em;
  width: 40%;
  font-size: 20px;
  padding: 1em 0 0.5em 0.5em;
  border-radius: 0.7em;
}

#telefone {
  background-color: white;
  margin-bottom: 2em;
  width: 30%;
  font-size: 20px;
  padding: 1em 0 0.5em 0.5em;
  border-radius: 0.7em;
}

#senha {
  background-color: white;
  
  width: 20%;
  font-size: 20px;
  padding: 1em 0 0.5em 0.5em;
  border-radius: 0.7em;
}

#foto {
  border-radius: 90%;
  width: 26em;
  height: 24em;
  margin-top: -27em;
  margin-left: 40em;
}

label {
  display: block;
  width: 200px;
  color: white;
  margin-left: 47em;
  cursor: pointer;
}

#input-file {
  display: none;
}

#botaoCadastro {
  position: relative;
  font-size: 1.1em;
  width: 7em;
  background-color: #fff;
  color: black;
  padding: 0.8em 0;
  border-radius: 30px;
  transition: .3s ease-in-out;
  margin-left: 60px;
  margin-top: -20px;
}

#botaoCadastro:hover{
  background-color: #0a72ab;
  color: white;
}

#message {
  margin-left: 25em;
  font-size: 1em;
  color:  #01a6ff;
  font-size: larger;
}

.invader {
  font-size: 3em;
  color: #fff;
  user-select: none;


}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;

}

.navigation a::after {
  position: absolute;
  color: #fff;
  content: '';
  left: 0%;
  bottom: -6px;
  width: 100%;
  height: 3px;
  border-radius: 6px;
  transform: scaleX(0);
  transition: cubic-bezier(1);
  transform-origin: right;

}



.navigation a:hover::after {
  transform: scaleX();
  transform-origin: left;
}


.navigation .btnlogin {
  width: 130px;
  height: 40px;
  border: 2px solid #fff;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  margin-left: 40px;
  font-weight: 500;
  transition: 3s;
  background-color: transparent;

}

.wapper.loginbox {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 0 0 30px black;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;

}

.loginbox.login {
  padding: 40px;
  width: 100%;

}

.loginbox h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  left: 400;


}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 5px 0;

}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  font-size: 1em;
  background-color: transparent;
  font-weight: 500;
  pointer-events: none;
  transform: translateX(-50%);
  color: #fff;


}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}



.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #fff;
  font-weight: 500;


}

.wapper {
  position: relative;
  width: 400px;
  height: 500px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black
}

.btn {
  width: 100%;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 500;
  margin-top: 30%;
  margin-left: 8px;
  align-items: center;
}

.login-cadastrar {
  font-size: 1em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;

}

.login-cadastrar p a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 2em;

}

.login-cadastrar a:hover {
  text-decoration: line-through;
}

.cadastre-link {
  font-size: 20px;
  color: #fff;
}

.titulo_texto{
  transition: .5s ease-in-out;
}

.titulo_texto:hover{
  color: #00a6ff;
}

/* Arquivos formatados do Bootstrap */

.navbar.bg-dark {
  background-color: #000000 !important;
}

.font-bold {
  font-weight: bold !important;
}

.footer.bg-dark {
  background-color: #000000 !important;
}

.container.bg-dark {
  background-color: #000000 !important;
}

.pt-15 {
  padding-top: 30rem !important;
}