
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    
}

main{
 
    justify-content: center;
    align-items: center;
    display: flex;
    background-size: cover;
    background-position:center ;
    background-color: #fff; 
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100vh  ;

  }

  .hoverable:hover {
    color: #0a72ab;
  }
  

.invader {
    font-size: 3em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation a::after{
    position: absolute;
    color: #fff;
    content: '';
    left: 0%;
    bottom:-6px;
    width: 100%;
    height: 3px;
    border-radius: 6px;
    transform: scaleX(0);
    transition: cubic-bezier(1);
    transform-origin:right ;

}



.navigation a:hover::after{
    transform: scaleX();
    transform-origin: left;
}


.navigation .btnlogin{
    width: 130px;
    height: 40px;
    border: 2px solid #fff;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    margin-left: 40px;
    font-weight: 500;
    transition: 3s;
    background-color: transparent;

}

.wapper.loginbox{
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow:0 0 30px black ;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.loginbox.login{
    padding: 40px;
    width: 100%;

}
.loginbox h2{
    font-size: 2em;
    color: #fff;
    text-align: center;    
    margin-top: 40px;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 5px 0;

}

.input-box label{
    position: absolute;
    top: 50%;
    left: 25px;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transform:translateX(-50%) ;
    color: #fff;
    transition: .2s ease-in-out;


}

.input-box input:focus~label,
 .input-box input:valid~label {
    top: -5px;
 }



.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    font-weight: 500;


}
.wapper{
    position: relative;
    width:400px;
    
    border:2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: #030202;
}
#btn{
    width: 100%;
    height: 40px;
    border-radius: 20px; 
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: black;
    font-weight: 500;
    margin-top: 30%;
    align-items: center;
    transition: .5s ease-in-out;
}

#btn:hover{
    background-color: #0a72ab;
    color: white;
  }

.login-cadastrar{
    font-size: 1em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;

}
.login-cadastrar p a {
    color: #fff;
   text-decoration: none;
   font-weight: 700;
   font-size: 2em;
}


.cadastre-link{
    font-size: 15px;
    color: #fff;
    transition: .5s ease-in-out;
}

.cadastre-link:hover{
    color: #0a72ab;
}

.icon.fa-light {
    color: #fff;

}

#image{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

/* Arquivos formatados do Bootstrap */

.navbar.bg-dark {
    background-color: #000000 !important;
}

.font-bold {
    font-weight: bold !important;
}

.footer.bg-dark {
    background-color: #000000 !important;
}