/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;

}

body {
  margin: 0 auto;
  color: #080808;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Navigation Menu */

nav {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #0a72ab;
}

/* Smooth Scrolling */

html {
  scroll-behavior: smooth;
}

.hoverable:hover {
  color: #0a72ab;
}

/* Main Content */

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 20px;
}

.hero-content {
  text-align: center;
  margin: 0 auto;
}

.content {
  width: 100%;
  margin: 0 auto;
}

.destaque {
  text-align: center;
  
}

.linha-texto {
  margin-top: 70px;
  display: flex;
  align-items: center;
  
}

.linha-texto .linha {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

#tita {
  font-family: 'Times New Roman', Times, serif;
  font-size: 48px;
  margin: 0 10px; /* Adicionei margem para separar as linhas do texto */
}


.curtido {
  display: flex;
  align-items: center; /* Centralizar texto */
  margin-top: 60px; /* Margem inferior de 40px */
}

  /*Aumentar tamanho do texto "Talvez voce goste" */
#gosto{
  font-family:'Times New Roman', Times, serif; 
  font-size: 35px;
  margin: 0 10px; /* Adicionei margem para separar as linhas do texto */
}
.linha {
  flex-grow: 1;
  height: 1px;
  background-color: black;
}

/* Slideshow */

.container-slide {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  height: 40vh;
  background-color: black;
  margin: 10vh auto;
  border-radius: 10px;
  box-shadow: 0 20px 30px black;
  border: 5px solid #0a72ab;
}

.container-items {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.slide .image-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
}

.action-button {
  font: bold 30px sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  color: white;
  background-color: transparent;
  border: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: color 0.5s ease;
}

.action-button:hover {
  color: #0a72ab;
}

/* Article Cards */

.row {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.art {
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  width: 14%;
  margin-left: 8%;
  background-color: #0a72ab;
  margin-bottom: 40px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px black;
}

.artlink {
  text-decoration: none;
}

.art div {
  padding: 10px;
}

.art img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
}


/* Forum Section */

.container > h2 {
  text-align: center;
  background-color: #000000e7;
  padding: 10px 0;
  color: white;
}

.thread {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  border: 1px dashed #080606;
}

.respostas {
  margin: 0;
}

.respostas p {
  font-size: 18px;
  color: #050404cc;
}

textarea {
  width: 100%;
  height: 100px;
  border: 2px solid #010103;
}

#chatbox {
  width: 400px;
  height: 300px;
  border: 1px solid #faf8f8;
  overflow-y: scroll;
 
}

#input {
  margin-top: 10px;
}

#messageInput {
  width: 300px;
}

#sendButton {
  width: 80;
}

/* Chat Section */

.chat-container {
  width: 400px;
  background-color: #ffffff;  
  border: 2px solid #000;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  position: relative;
  bottom: 5px;
  left: 12%;
  transform: translateX(-50%);
  z-index: 9999;
}

.chat-header {
  text-align: center;
}

.chat-messages {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-input {
  margin-top: 10px;
  text-align: center;
}

input[type="text"] {
  width: 70%;
  padding: 5px;
  border: 2px solid;
  border-radius: 3px;
  margin-right: 10px;
}

.chat-input button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.chat-input button:first-child {
  margin-right: 4%;
}

.chat-input button:last-child {
  margin-left: 4%;
}

.chat-input button:hover {
  background-color: #000000;
}

.chat-input button:active {
  background-color: #000000;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.file-input {
  display: none;
}

.attach-file-label {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

/* Emoticon */

#emoticonButton {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

#emoticonPanel {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  padding: 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.emoticon {
  width: 30px;
  height: 30px;
  margin: 5px;
  cursor: pointer;
}

/* parada do forum styles */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

.topic {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
}

.topic h2 {
  margin-top: 0;
  display: inline-block;
}

.delete-button {
  position: absolute;
  top: 10%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form input[type="file"] {
  margin-bottom: 10px;
}

.comment-form .file-name {
  font-size: 14px;
  margin-bottom: 10px;
}

.comment-form .file-name span {
  font-weight: bold;
  color: #333;
}

.comment-form .file-name .remove-file {
  color: #f00;
  cursor: pointer;
  margin-left: 10px;
}

.file-name {
  margin-top: 8px;
}

.remove-file {
  color: red;
  cursor: pointer;
  margin-left: 8px;
}

input[type="file"] {
  display: none;
}

.file-upload-button {
  display: inline-block;
  background-color: #000000;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-upload-button:hover {
  background-color: #030503;
}

.file-upload-button:active {
  background-color: #090a09;
}

/* Arquivos formatados do Bootstrap */

.navbar.bg-dark {
    background-color: #000000 !important;
}

.font-bold {
    font-weight: bold !important;
}

.footer.bg-dark {
    background-color: #000000 !important;
}

.pt-15 {
    padding-top: 30rem !important;
}